<div class="card">
  <div class="card-body">
    <h5 class="card-title">Trollbox</h5>
    <p class="card-text">Chat with other players</p>
    <div class="card" style="padding:5%">
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let msg of messages" class="list-group-item borderless">
            <p class="font-weight-bold" style="display:inline">{{msg.sender}}: </p>{{msg.text}}
          </li>
        </ul>
      </div>
    </div>
    <form (ngSubmit)="onSubmit(); msgForm.resetForm()" #msgForm="ngForm">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Message</span>
          </div>
          <textarea class="form-control" [(ngModel)]="message" name="message" required placeholder="Enter message" aria-label="Message"></textarea>
          <button type="submit" class="btn pull-right btn-primary" [disabled]="!msgForm.form.valid">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
