<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item">
        <a routerLink="/lobby" routerLinkActive="active">Lobby</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h1 class="card-title">
      Play some friggin' {{ title }}!
    </h1>
  </div>
  <!-- Routed views go here -->
  <router-outlet></router-outlet>
</div>
